.header{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-title{
        z-index: 2;
        font-family: 'Dancing Script', cursive;
        color: rgb(98, 98, 98);
    }

    &-watercolor{
        position: absolute;
        width: 300px;
        z-index: 0;
    }

}