.header{

    &-title{
        position: absolute;
        top: 78px;
        right: 22px;
        z-index: 1;
        font-family: 'Dancing Script', cursive;
        font-size: 1.3rem;
        color: rgb(98, 98, 98);
    }

    &-watercolor{
        position: absolute;
        top: 5px;
        right: 10px;
        width: 160px;
        z-index: 0;
    }

}