.aa-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.oval-structure {
    width: 20px;
    height: 30px;
    border-radius: 50%;
}

.sfere-structure {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.square-structure {
    width: 30px;
    height: 30px;
}

.semi-square-structure {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.triangle-structure{
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 30px solid transparent;
}

.no-gap {
    margin: 0;
}

.full-gap {
    margin: 5px;
}

.group-and-gap {}

.a{
    background-color: #14b6a8;
}

.r{
    background-color: #f7a399;
}

.n{
    background-color: #cf5591;
}

.d{
    background-color: #cfe26e;
}

.c{
    background-color: darkgoldenrod;
}

.q {
    background-color: rgb(158, 87, 226);
}

.e {
    background-color: #4160a9;
}

.g {
    background-color: brown;
}

.h {
    background-color: rgb(76, 142, 10);
}

.i {
    background-color: rgb(255, 251, 54);
}

.l {
    background-color: rgb(228, 74, 112);
}

.k {
    background-color: rgb(0, 162, 202);
}

.m {
    background-color: rgb(255, 138, 28);
}

.f {
    background-color: rgb(56, 255, 112);
}

.p {
    background-color: rgb(220, 0, 7);
}

.s {
    background-color: rgb(128, 19, 108);
}

.t {
    background-color: rgb(135, 120, 209);
}

.w {
    background-color: rgb(132, 180, 209);
}

.y {
    background-color: rgb(77, 134, 83);
}

.v {
    background-color: rgb(248, 215, 80);
}

.A4{
    width: 248px;
    height: 350px;
}

