.preview {
    z-index:3;
    width: 100%;
    max-width: 900px;
    
    &-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        justify-items: center;

        @media all and (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.group-of-aa {
    list-style: none;
    display: inline-block;
}

.aa-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
}

.oval-structure {
    width: 1rem;
    height: 1.5rem;
    border-radius: 50%;

    @media all and (min-width: 768px) {
        width: 2rem;
        height: 2.5rem;
    }
}

.sfere-structure {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

    @media all and (min-width: 768px) {
        width: 2rem;
        height: 2rem;
    }
}

.square-structure {
    width: 1.5rem;
    height: 1.5rem;

    @media all and (min-width: 768px) {
        width: 2rem;
        height: 2rem;
    }
}

.semi-square-structure {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.4rem;

    @media all and (min-width: 768px) {
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
    }
}

.triangle-structure {
    background: transparent !important;
    font-size: 3rem;
    line-height: 0rem;
    
    &:nth-child(even) {
        transform: translateX(1px) rotate(270deg);
    }

    &:nth-child(odd) {
        transform: translateX(6px) rotate(90deg);  
    }

    @media all and (min-width: 768px) {
        &:nth-child(odd) {
            transform: translateX(3px) rotate(90deg);
        }
    }
    
    @media all and (min-width: 1024px) {
        &:nth-child(odd) {
            transform: translateX(0px) rotate(90deg);
        }
    }
}

.triangle-structure.no-gap{
    letter-spacing: -4px;

    &:nth-child(odd) {
        transform: translate(1px, -4px) rotate(90deg);
    }

    @media all and (min-width: 768px) {
        letter-spacing: -6px;

        &:nth-child(odd) {
            transform: translate(-1px, -6px) rotate(90deg);
        }
    }
    
    @media all and (min-width: 1024px){
        letter-spacing: -8px;
    
        &:nth-child(odd) {
            transform: translate(-1.5px, -8px) rotate(90deg);
        }
    }   
}

.triangle-structure.full-gap {
    letter-spacing: -2px;

    &:nth-child(odd) {
        transform: translate(1px, -2px) rotate(90deg);
    }

    @media all and (min-width: 768px) {
        letter-spacing: -6px;

        &:nth-child(odd) {
            transform: translate(-1px, -6px) rotate(90deg);
        }
    }

    @media all and (min-width: 1024px) {
        letter-spacing: -8px;

        &:nth-child(odd) {
            transform: translate(-1.5px, -8px) rotate(90deg);
        }
    }
}

.no-gap {
    margin: 0;
}

.full-gap {
    margin: 0.2rem;
}

.a{
    background-color: #14b6a8;
    color: #14b6a8;
}

.r{
    background-color: #f7a399;
    color: #f7a399;
}

.n{
    background-color: #cf5591;
    color: #cf5591;
}

.d{
    background-color: #cfe26e;
    color: #cfe26e;
}

.c{
    background-color: darkgoldenrod;
    color: darkgoldenrod;
}

.q {
    background-color: rgb(158, 87, 226);
    color: rgb(158, 87, 226);
}

.e {
    background-color: #4160a9;
    color: #4160a9;
}

.g {
    background-color: brown;
    color: brown;
}

.h {
    background-color: rgb(76, 142, 10);
    color: rgb(76, 142, 10);
}

.i {
    background-color: rgb(255, 251, 54);
    color: rgb(255, 251, 54);
}

.l {
    background-color: rgb(228, 74, 112);
    color: rgb(228, 74, 112);
}

.k {
    background-color: rgb(0, 162, 202);
    color: rgb(0, 162, 202);
}

.m {
    background-color: rgb(255, 138, 28);
    color: rgb(255, 138, 28);
}

.f {
    background-color: rgb(56, 255, 112);
    color: rgb(56, 255, 112);
}

.p {
    background-color: rgb(218, 0, 7);
    color: rgb(218, 0, 7);
}

.s {
    background-color: rgb(128, 19, 108);
    color: rgb(128, 19, 108);
}

.t {
    background-color: rgb(135, 120, 209);
    color: rgb(135, 120, 209);
}

.w {
    background-color: rgb(132, 180, 209);
    color: rgb(132, 180, 209);
}

.y {
    background-color: rgb(77, 134, 83);
    color: rgb(77, 134, 83);
}

.v {
    background-color: rgb(248, 215, 80);
    color: rgb(248, 215, 80);
}

.T {
    background-color: transparent;
    color: transparent;
}

.protein-name{
    font-family: 'Gochi Hand', cursive;
    font-size: 1.3rem;
    margin-top: 2rem;
    color: grey;

    @media all and (min-width: 768px) {
        margin-left: 1rem;
    }
}