@media print {
    .print {
        print-color-adjust: exact;
    }

    // *::before {
    //     // display: none !important;
    //     animation: none !important;
    //     animation-name: none !important;
    // }

    /*::before{
        // .splash{
        //     // display: none !important;
        //     animation: none !important;
        // }

        .open-sidebar{
            display: none !important;
            animation: none !important;
        }

        .close-sidebar {
            display: none !important;
            animation: none !important;
        }

        .fieldset-appears {
            display: none !important;
            animation: none !important;

        }

        .fieldset-desappears {
            display: none !important;
            animation: none !important;

        }
    }*/

    // .open-sidebar {display:none}
    // .close-sidebar {
    //     display: none
    // }

    .header {
        display: none !important;
    }

    .main {
        padding: 0px;    
    }

    .preview {
        width: 100%;
    }

    .menu-icon {
        display: none !important;
    }

    .go-icon{
        display: none;
    }

    .button-print{
        display: none;
    }

    .sidebar {
        display: none !important;
    }

    // .open-sidebar{
    //     animation: none !important;
    // }

    // .close-sidebar {
    //     animation: none !important;
    // }

//     ::before {
    
// }

//     // .fieldset-appears {
//     //     display: none!important;

//     //     ::before {
//     //         animation: none !important;
//     //     }
//     // }
//     ::before{
//     .fieldset-desappears {
//         display: none !important;
//         animation: none !important;
//     }
// }

    .protein-name{
        font-size: 1.8rem !important;
    }

    .oval-structure {
        width: 2rem !important;
        height: 3rem !important;
    }

    .sfere-structure {
        width: 3rem !important;
        height: 3rem !important;
    }

    .square-structure {
        width: 3rem !important;
        height: 3rem !important;
    }

    .semi-square-structure {
        width: 3rem !important;
        height: 3rem !important;
        border-radius: 0.8rem !important;
    }

    .aa-list{
        margin-left: 5px !important;
    }
    
    .triangle-structure {
        font-size: 4rem !important;
        line-height: 0rem !important;
    }

    .triangle-structure.no-gap{
        letter-spacing: -5px !important;

        &:nth-child(odd) {
            transform: translate(1px, -5px) rotate(90deg) !important;
        }  
    }

    .triangle-structure.group-and-gap{
        letter-spacing: 0px !important;

        &:nth-child(odd) {
            transform: translate(0px, 0px) rotate(90deg) !important;
        }
    }

    .info{
        display: none;
    }

    
}