@media print {
    .print {
        print-color-adjust: exact;
    }

    .splash{
        display: none !important;
    }

    .header {
        display: none !important;
    }

    .main {
        padding: 0px;    
    }

    .preview {
        width: 100%;
    }

    .menu-icon {
        display: none !important;
    }

    .go-icon{
        display: none;
    }

    .button-print{
        display: none;
    }

    .sidebar {
        display: none !important;
    }

    .protein-name{
        font-size: 1.8rem !important;
    }

    .oval-structure {
        width: 2rem !important;
        height: 3rem !important;
    }

    .sfere-structure {
        width: 3rem !important;
        height: 3rem !important;
    }

    .square-structure {
        width: 3rem !important;
        height: 3rem !important;
    }

    .semi-square-structure {
        width: 3rem !important;
        height: 3rem !important;
        border-radius: 0.8rem !important;
    }

    .aa-list{
        margin-left: 5px !important;
    }
    
    .triangle-structure {
        font-size: 4rem !important;
        line-height: 0rem !important;
    }

    .triangle-structure.no-gap{
        letter-spacing: -5px !important;

        &:nth-child(odd) {
            transform: translate(1px, -5px) rotate(90deg) !important;
        }  
    }

    .triangle-structure.group-and-gap{
        letter-spacing: 0px !important;

        &:nth-child(odd) {
            transform: translate(0px, 0px) rotate(90deg) !important;
        }
    }

    .info{
        display: none;
    }
}