@media print {
    .print {
        print-color-adjust: exact;
    }

    .splash{
        display: none !important;
    }

    .header {
        display: none !important;
    }

    .main {
        padding: 0px;    
    }

    .preview {
        width: 100%;
    }

    .menu-icon {
        display: none !important;
    }

    .go-icon{
        display: none;
    }

    .button-print{
        display: none;
    }

    .sidebar {
        display: none !important;
    }

    .protein-name{
        font-size:1.8rem !important;
    }

    .oval-structure {
        width: 2rem !important;
        height: 3rem !important;
    }

    .sfere-structure {
        width: 3rem !important;
        height: 3rem !important;
    }

    .square-structure {
        width: 3rem !important;
        height: 3rem !important;
    }

    .semi-square-structure {
        width: 3rem !important;
        height: 3rem !important;
        border-radius: 0.8rem !important;
    }

    .triangle-structure {
        font-size: 4rem !important;

        &:nth-child(odd) {
            transform: translateX(0.85rem) rotate(90deg) !important;
        }
    }

    .info{
        display: none;
    }
}