@keyframes openSidebar {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes closeSidebar {
    0% {
        width: 70%;
    }

    100% {
        width: 0%;
        display: none !important;
    }
}

@keyframes fieldsetAppears {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fieldsetDesappears {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 50%;
        margin-left: 0;
    }

    100% {
        opacity: 0%;
        margin-left:100px;
        display: none !important;
    }
}

body::-webkit-scrollbar-track {
    background-color: rgb(228, 228, 228);
}

body::-webkit-scrollbar-thumb {
    background-color: #fa8678;
    border: 1.5px solid rgb(255, 213, 213);
    border-radius: 15px;
}

body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.sidebar-form::-webkit-scrollbar-track {
    background-color: rgb(228, 228, 228);

}

.sidebar-form::-webkit-scrollbar-thumb {
    background-color: #f1875b;
    border-radius: 10px;
}

.sidebar-form::-webkit-scrollbar {
    width: 6px;
}

.textarea::-webkit-scrollbar-track {
    background-color: rgb(228, 228, 228);
}

.textarea::-webkit-scrollbar-thumb {
    background-color: #f1875b;
    border-radius: 10px;
}

.textarea::-webkit-scrollbar {
    width: 5px;
}

.sidebar{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;

    &-nav{
        width: 5rem;
        background-color: #fa8678;
        min-height: 100vh;
        display: flex;
        justify-content: center;   
        z-index: 4;
    }

    &-form{
        position: relative;
        max-width: 600px;
        background-color: #f0aea7;
        border-radius: 0 10px 10px 0;

        @media all and (max-height: 615px) {
            overflow-y: scroll;
        }
        
    }

    &-leftover{
        background-color: transparent;
        position: relative;
        z-index: 4;
        flex-grow: 1;
    }
}

.open-sidebar{
    animation-name: openSidebar;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.close-sidebar {
    animation-name: closeSidebar;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.nav{
    width: 80%;
    padding: 10px 0;

    &-content{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 5rem 5rem 1fr 5rem;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        list-style: none;
    }
}

.menu-icon {
    width: 3rem;
    height: 2.5rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
    grid-row: 1/2;
}

.menu-icon span {
    background-color: #FFF;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menu-icon span:nth-child(1) {
    width: 100%;
    height: 5px;
    display: block;
    top: 0px;
    left: 0px;
}

.menu-icon span:nth-child(2) {
    width: 100%;
    height: 5px;
    display: block;
    top: 10px;
    left: 0px;

    @media all and (min-width: 768px) {
        top: 14px;
    }
}

.menu-icon span:nth-child(3) {
    width: 100%;
    height: 5px;
    display: block;
    bottom: 0px;
    left: 0px;
}

.menu-icon:not(.open):hover span:nth-child(1) {
    width: 100%;
    height: 5px;
    display: block;
    top: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menu-icon:not(.open):hover span:nth-child(2) {
    width: 100%;
    height: 5px;
    display: block;
    top: 10px;
    left: 0px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);

    @media all and (min-width: 768px) {
        top: 14px;
    }
}

.menu-icon:not(.open):hover span:nth-child(3) {
    width: 100%;
    height: 5px;
    display: block;
    bottom: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menu-icon.open {
    transform: translateX(5px) rotate(90deg);

    @media all and (min-width: 768px) {
        transform: translateX(-2px) rotate(90deg);
    }
}

.menu-icon.open span:nth-child(1) {
    left: 3px;
    top: 12px;
    width: 30px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 150ms;

    @media all and (min-width: 768px) {
        left: 2.4px;
        top: 11px;
    }
}

.menu-icon.open span:nth-child(2) {
    left: 2px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 50ms;

    @media all and (min-width: 768px) {
        left: -4px;
        top: 20px;
        width: 25px;
    }
}

.menu-icon.open span:nth-child(3) {
    left: 14px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;

    @media all and (min-width: 768px) {
        left: 12px;
        top: 21px;
        width: 25px;
    }
}

.button-print {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-print {
    color: #FFF;
    font-size: 3rem;
    margin: 10px;
    transition: 0.5s;

    &:hover {
        color: grey;
    }
}

.button-info{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:active {
        box-shadow: inset 0px 4px 6px #444444;
    }
}

.fa-info{
    font-size: 2rem;
    color: #fa8678;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding-top: 1rem;

    &-fieldset {
        opacity:0%;
        width: 90%;
        border: none;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;    
    }

    &-legend {
        background-color: #f1875b;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        text-align: center;

        &_title {
            font-family: 'Dancing Script', cursive;
            font-size: 1.8rem;
            color: rgb(0, 0, 0)
        }
    }

    &-label{
        font-family: 'Architects Daughter', cursive;
        font-size: 1.5rem;
        color: black;
        margin: 5px 0;

        @media all and (min-width: 768px) {
            margin: 8px 0;
        }
    }
}

.fieldset-appears{
    animation-name: fieldsetAppears;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-delay: 100ms
}

.fieldset-desappears {
    animation-name: fieldsetDesappears;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.info-prot{
    flex-direction: column;
}

.gaps-options{
    width: 95%;
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.structure-options{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 30px 1fr);
}

.input-text{
    height: 25px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 0 5px;
}

.textarea {
    height: 150px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
}

.input-radio {
    height: 15px;
    accent-color: grey;
    cursor: pointer;

    @media all and (min-width: 768px) {
        height: 17px;
    }
}