@keyframes openSidebar {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes closeSidebar {
    0% {
        width: 70%;
    }

    100% {
        width: 0%;
        display: none;
    }
}

@keyframes fieldsetAnimation {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}

.sidebar{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 3;
    

    &-nav{
        width: 50px;
        background-color: #fa8678;
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        
    }

    &-form{
        position: relative;
        z-index: 4;
        width: 70%;
        max-width: 600px;
        background-color: #f0aea7;
        border-radius: 0 10px 10px 0;
        animation-name: openSidebar;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
    }
}

.nav{
    width: 80%;
    padding: 10px 0;

    &-content{
        width: 100%;
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        height: 100%;
        display: grid;
        grid-template-rows: 50px 50px 1fr 50px;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        list-style: none;
    }
}

.menu-icon {
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    grid-row: 1/2;
}

.menu-icon span {
    background-color: #FFF;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menu-icon span:nth-child(1) {
    width: 100%;
    height: 4px;
    display: block;
    top: 0px;
    left: 0px;
}

.menu-icon span:nth-child(2) {
    width: 100%;
    height: 4px;
    display: block;
    top: 11px;
    left: 0px;
}

.menu-icon span:nth-child(3) {
    width: 100%;
    height: 4px;
    display: block;
    bottom: 0px;
    left: 0px;
}

.menu-icon:not(.open):hover span:nth-child(1) {
    width: 100%;
    height: 4px;
    display: block;
    top: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menu-icon:not(.open):hover span:nth-child(2) {
    width: 100%;
    height: 4px;
    display: block;
    top: 11px;
    left: 0px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);
}

.menu-icon:not(.open):hover span:nth-child(3) {
    width: 100%;
    height: 4px;
    display: block;
    bottom: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}

.menu-icon.open {
    transform: rotate(90deg);
}

.menu-icon.open span:nth-child(1) {
    left: 3px;
    top: 12px;
    width: 30px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 150ms;
}

.menu-icon.open span:nth-child(2) {
    left: 2px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 50ms;
}

.menu-icon.open span:nth-child(3) {
    left: 14px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;
}

.go-icon{
    background-color: #FFF;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fa8678;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    transition: width 0.25s, height 0.25s, font-size 0.25s;
    cursor: pointer;

    &:hover{
        width: 40px;
        height: 40px;
        font-size: 20px
    }
}

.button-print{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-print{
    color: #FFF;
    font-size: 30px;
    margin: 10px;
    transition: 0.5s;

    &:hover {
        color: grey;
    }
}

.hidden{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;

    &-fieldset {
        opacity:0%;
        width: 90%;
        border: none;
        margin: 15px 0;
        display: flex;
        justify-content: center;
        animation-name: fieldsetAnimation;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-delay: 100ms
    }

    &-legend {
        background-color: #f1875b;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        text-align: center;

        &_title {
            font-family: 'Dancing Script', cursive;
            color: rgb(0, 0, 0)
        }
    }

    &-label{
        font-family: 'Architects Daughter', cursive;
        font-size: 1.2rem;
        color: black;
        margin: 8px 0;
    }
}

.info-prot{
    flex-direction: column;
}

.input-text{
    height: 25px;
    width: 100%;
    border-radius: 8px;
    padding: 0 8px;
}

.textarea {
    height: 200px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
}

.structure-options{

}

.gaps-options {}

.input-radio_group {
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 30px 1fr);   
}

.input-radio {
    margin: 0 8px;
    accent-color: grey;
}





