@keyframes splashAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.7;
        z-index:4;
    }

    100% {
        opacity: 0;
        display: none;
        z-index:0;
    }
}

.splash{
    position: absolute;
    z-index: 4;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: splashAnimation;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
    //animation-iteration-count: 1;

    &-container{
        width: 100%;
        max-width: 620px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-title{
        z-index: 6;
        font-family: 'Dancing Script', cursive;
        font-size: 13vw;
        position: absolute;
        color: rgb(98, 98, 98);

        @media all and (min-width: 768px) {
            font-size: 80px;
        }
    }

    &-watercolor{
        z-index: 5;
        width: 85%;
    }
}